:root {
    --bg-color: #E9E7E1;
    --text: #252525;
    --sliders: #D8D5CE;
    --minHeader: 10vh;
    --minHeaderMobile: 5vh;
    --margin: 3vw;
    --marginMobile: 4vw;
}

@font-face {
    font-family: "HelveticaNeue";
    src: url(data/fonts/HelveticaNeue.ttc);
}

@font-face {
    font-family: "PPformula";
    src: url(data/fonts/PPFormula-CondensedRegular.ttf);
}

#cursor {
    position: fixed;
    background-color: #D7D6D4;
    width: 2em;
    height: 2em;
    border-radius: 100%;
    mix-blend-mode: difference;
    pointer-events: none;
    transition: width .2s ease-in-out, height .2s ease-in-out;
    transform: translate(-50%, -50%);
    z-index: 300;
}

#cursor.active {
    width: 6em;
    height: 6em;
}

.link-container {
    position: relative;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color);
    font-family: "HelveticaNeue";
    padding: 0;
    margin: 0;
    color: var(--bg-color);
}

p {
    font-weight: 800;
}

.slider{
    color: var(--text);
    /*
    background-color: var(--sliders);
    mix-blend-mode: multiply;
    */
}
.divTop {
    width: 100vw;
    height: 50px;
    position: absolute;
    top: 0;
    justify-content: flex-end;
    border-bottom: var(--text) solid 1px;
}

.divTop p {
    padding-right: 70px;
}

.divRight {
    height: 100vh;
    width: 50px;
    position: absolute;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-left: var(--text) solid 1px;
}

.divRight p {
    transform-origin: center;
    text-align: center;
    padding: 0;
    margin: 0;
    padding-left: calc(70px + 10ch);
}

.divBottom {
    width: 100vw;
    height: 50px;
    position: absolute;
    bottom: 0;
    border-top: var(--text) solid 1px;
}

.divBottom p {
    padding-left: 70px;
}

.divLeft {
    height: calc(var(--vh, 1h)* 100);
    width: 50px;
    position: absolute;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-right: var(--text) solid 1px;
}

.divLeft p {
    padding-right: calc(70px + 12ch);
}

.divTop,
.divBottom {
    display: flex;
    align-items: center;
}

.divLeft p,
.divRight p {
    transform: rotate(90deg);
}

.track {
    padding: 50px;
    height: calc(100vh - 100px);
    width: calc(100vw - 100px);
}

.track video {
    object-fit: cover;
    height: calc(100vh - 100px);
    width: calc(100vw - 100px);
}

.track video {
    position: absolute;
    opacity: 0;
    top: 50px;
}

.track .legenda {
    mix-blend-mode: exclusion;
}

.type {
    padding: 30px;
}

.title {
    font-size: 70px;
    line-height: 70px;
    position: absolute;
    mix-blend-mode: exclusion;
    z-index: 50;
}

.startButton {
    text-align: center;
    color: var(--text);
    font-size: 20px;
    line-height: 20px;
    text-decoration: underline;
}

#startButton {
    fill: var(--text);
    stroke: var(--text);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    width: 30px;
    position: absolute;
    top: 50%;
    right: 50%;
    z-index: 200;
}

.legendas{
    mix-blend-mode: screen;
}

.faixas{
    display: flex;
    margin: 0 2vw;
    width: calc(100% - 200px);
    position: absolute;
    bottom: 70px;
    z-index: 50;
    gap: 3vw;
    justify-content: center;
}


.faixas p{
    mix-blend-mode: exclusion;
}