:root {
    --bg-color: #E9E7E1;
    --text:#252525;
    --slider: #DEDEDB;

    --minHeader: 10vh;
  }

  @font-face {
    font-family: "HelveticaNeue";
    src: url(data/fonts/HelveticaNeue.ttc);
  }
*{
    margin:0;
    padding:0;
}
body{
    background-color: var(--bg-color);
    font-family: "HelveticaNeue";
    color: var(--text);
    padding: 3vw;
}

h3{
    font-size: calc(11px + 0.390625vw);
}

h2{
    font-size: calc(18px + 0.390625vw);
}

header{
    display: flex;
    justify-content: space-between;
    min-height: var(--minHeader);
}

.PS_Logo h2{
    font-weight: 700;
    text-transform: uppercase;
    font-kerning: normal;
}



.tracks{
    display: flex;
    width: 10%;
    justify-content: space-between;
}

aside{
    width: 18%;
    height: 100%;
    display: flex;
    gap: 1vw;
    flex-direction: column;
    justify-content: flex-end;
}

main{
    display: flex;
    justify-content: space-between;
    height: calc(100vh - (3vw*2) - var(--minHeader));
}


.mode h3, .tracks h3{
    cursor: pointer;
}

.mode h3:hover, .tracks h3:hover{
    font-weight: bold;
}



aside input[type=range] {
    width:80%;
}



.slider {
    appearance: none;
    background: #252525;
    outline: none;
    border-radius: 50px;
    height: 1.5px;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #252525;
    cursor: pointer;
}

/* For Firefox */
.slider::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #252525;
    cursor: pointer;
}

.slider::-moz-range-track {
    height: 1.5px; /* Ensure the track height matches */
    background: #252525;
    border-radius: 50px;
}

/* For Internet Explorer */
.slider::-ms-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #252525;
    cursor: pointer;
}

.slider::-ms-track {
    height: 1.5px;
    background: #252525;
    border-radius: 50px;
    border: none;
    color: transparent; /* To hide the default track */
}


.interactionBase {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.interactionBase video {
    width: 100%;
}

.faixa {
    width: 100%;
    position: relative;
}



.video {
    width: 100%;
    height: auto;
}

.legendas {
    mix-blend-mode: screen;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}



.play{
    position: absolute;
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;

    background-color: var(--bg-color);
    opacity: 90%;
    transition: opacity 2s;

    font-weight: 300;
}



.play h2 {
    color: var(--text);
    text-align: center;
    cursor:pointer;
}


.slidecontainer h3{
    margin-bottom: 0.5vw;
}



/* Tablet styles */
@media (max-width: 1199px) and (min-width: 768px) {
    main{
        flex-direction: column-reverse;
    }

    .interactionBase{
        width: 100%;
        display: flex;
        align-items: center;
    }

    aside{
        height: max-content;
        width:100%;
    }

    aside input[type=range] {
        width:100%;
    }

    .slidecontainer{
        width:50%;
    }
}

/* Mobile styles */
@media (max-width: 767px) {
main{
    flex-direction: column-reverse;
}

.interactionBase{
    width: 100%;
    display: flex;
    align-items: center;
}

aside{
    height: max-content;
    width:100%;
    align-items: center;
}

aside input[type=range] {
    width:100%;
}

.slidecontainer{
    width:60%;
}

.slidecontainer h3{
    text-align: center;
}

}